body{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  background: url('/images/bg-top.svg') no-repeat  ;
  background-color: var(--Very-Light-Grayish-Blue);

  background-position:right -200px top -30px;
 
}
:root{

--Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
--Light-Grayish-Blue: hsl(234, 14%, 74%);
--Grayish-Blue: hsl(233, 13%, 49%);
--Dark-Grayish-Blue: hsl(232, 13%, 33%);
--uno: hsl(236, 72%, 79%);
 --dos: hsl(237, 63%, 64%);
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@media screen and (min-width:768px){

  body{
    height: 800px;
    background : url('/images/bg-bottom.svg') left bottom no-repeat,url('/images/bg-top.svg') right top no-repeat , var(--Very-Light-Grayish-Blue);
  }
 
  .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .cardP{
     height: 435px;
  }
  .wrapp{
    margin-top: 0;
  }
  

}

