.cardB{
   width: 325px;
   height: 400px;
   margin: 10px auto;
   background-color: white;
   border-radius: 8px;
}

.grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px  30px;
  
    text-align: center;
    height: 100%;
   
    
}
p{
    color: var(--Grayish-Blue);
    padding: 15px 0;
    width: 100%;
}
.price{
    color:var(--Dark-Grayish-Blue);
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--Dark-Grayish-Blue);
}
.mood{
    padding-top: 30px;
}
.space{
    border-bottom: 1px solid var(--Dark-Grayish-Blue);
}
.user{
    border-bottom: 1px solid var(--Dark-Grayish-Blue);
}
.send{
    border-bottom: 1px solid var(--Dark-Grayish-Blue);
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 20px 0;
    margin-top: 25px;
    width: 100%;
    padding-bottom: 50px;
    
}
.learn{
    
    padding : 13px 0;
    width: 100%;
    font-weight: 700;
    color: white;
    border: 1px solid var(--uno);
    border-radius: 9px;
    background-image: linear-gradient(to right, var(--uno) 0%,  var(--dos)100%);
   
}
