.header{
    margin-top: 80px;
   
    display:flex;
    flex-direction: column;
    align-items: center; 
    color: var(--Grayish-Blue);
    
}
.time{
    font-size: 15px;
     display: flex;
     justify-content: space-between;
     color: var(--Light-Grayish-Blue);
     margin-top: 40px;
     
}
.anual{
    padding-top: 5px;
    margin-right: 20px;
}
.mensual{
    padding-top: 5px;
    margin-left: 20px;
}
.checkbox{
    display: none;
}
.switch {
    /* border: 1px solid red; */
    height: 30px;
    display: block;
    border-radius: 20px;
    background-image: linear-gradient(to right, var(--uno) 0%,  var(--dos)100%);
    width: 50px;
    margin-bottom: 60px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
  }
  .switch::before {
    content: "";
    display: block;
    width: 50%;
    height: 20px;
    background: white;
    border-radius: 50%;
    transform: translateX(20px);
    transition: .3s;
    will-change: transform;
  }
  .button {
    display: flex;
    justify-content: space-between;
   
  }